#download{
    padding-top:20%;
    padding-bottom:20%;
    background-color: black;
    color:white;
    display: flex;
    justify-content: space-around;
}
#left_part{
    margin-left:3%;
}
h2{
    font-family: arial, helvetica, sans-serif;
    font-size: 500%;
}